.white-strip
  .wrapper.padding2
    .title
      Поможем получить следующие виды банковских гарантий:

    .benefits
      .benefit
        Тендерная банковская гарантия
      .benefit
        Банковская гарантия возврата аванса
      .benefit
        Банковская гарантия исполнения контракта
      .benefit
        Гарантия обеспечения гарантийных обязательств


.wrapper.padding1
  .benefits-header
    Условия предоставления банковской гарантии:
  .benefits
    .benefit
      Без залога и открытия расчетного счета
    .benefit
      Оформление от 1 дня
    .benefit
      Наши услуги стоят от 17 000 рублей
    .benefit
      Работаем по всей России


.wrapper
  .phone
    8 804 333 19 56
    .small
      (звонок бесплатный)


.wrapper
  %form.inline{action: '#'}
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    %button#send-order
      Заказать консультацию


-#.wrapper
  .order-button
    Заказать консультацию

#footer
  Финуслуги , г. Москва, Научный проезд 14 А
  %br
  Работаем ежедневно с 10-00 до 20-00
  %br
  8-499-704-51-19
  %br
  8-804-333-19-56 (звонок бесплатный)
  %br
  %a{href: 'mailto:bg@finuslug.ru'}
    bg@finuslug.ru


.modal-overlay
.modal-dialog
  .header
    Заказать консультацию
  .body
    %form{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Заказать консультацию

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!